<section class="bg-gray-0 dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <p class="text-xl lg:text-2xl text-zinc-200 text-center text-wrap max-w-[600px]">¿Cómo puedo ayudarte?</p>
    <p class="text-xl lg:text-2xl text-purple-600 text-center text-wrap max-w-[600px]">¡Escríbeme!</p>

    <form id="contact-form" class="space-y-8">
      <div>
        <input 
          type="text" 
          name="from_name" 
          id="from_name" 
          placeholder="Nombre" 
          class="bg-transparent border border-white text-white placeholder-gray-800 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" 
          required>
      </div>
      <div>
        <input 
          type="email" 
          name="reply_to" 
          id="reply_to" 
          placeholder="Correo" 
          class="bg-transparent border border-white text-white placeholder-gray-800 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" 
          required>
      </div>
      <div class="sm:col-span-2">
        <textarea 
          name="mensaje" 
          id="mensaje" 
          rows="6" 
          placeholder="Mensaje" 
          class="bg-transparent border border-white text-white placeholder-gray-800 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" 
          required></textarea>
      </div>
      <div class="flex justify-center">
        <button type="submit" id="button" class="bg-purple-500 text-white text-xs font-medium px-3.5 py-3.5 rounded dark:bg-purple-700 dark:text-white">
          Enviar mensaje
        </button>
      </div>
    </form>

    <p id="success-message" class="text-center text-green-500 hidden">¡Mensaje enviado con éxito!</p>
  </div>
</section>

<script type="text/javascript">
  (function() {
    // Cargar y inicializar EmailJS
    const loadEmailJs = () => {
      return new Promise((resolve, reject) => {
        const script = document.createElement('script');
        script.src = 'https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js';
        script.onload = () => {
          emailjs.init('nliiYB4SnNHWN9h41');
          resolve();
        };
        script.onerror = reject;
        document.head.appendChild(script);
      });
    };

    // Manejo de mensajes y estado del botón
    const setButtonState = (button, text) => {
      if (button) {
        button.textContent = text;
      }
    };

    const showSuccessMessage = (message) => {
      if (message) {
        message.classList.remove('hidden');
      }
    };

    //  formulario
    const handleSubmit = (form, button, successMessage) => {
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        setButtonState(button, 'Sending...');

        const serviceID = 'default_service';
        const templateID = 'template_57qm7dq';

        emailjs.sendForm(serviceID, templateID, form)
          .then(() => {
            setButtonState(button, 'Enviar mensaje');
            showSuccessMessage(successMessage);
            form.reset();
          })
          .catch((err) => {
            alert(JSON.stringify(err));
            setButtonState(button, 'Enviar mensaje');
          });
      });
    };

    //script
    loadEmailJs()
      .then(() => {
        const form = document.getElementById('contact-form');
        const button = document.getElementById('button');
        const successMessage = document.getElementById('success-message');

        if (form && button) {
          handleSubmit(form, button, successMessage);
        }
      })
      .catch((err) => {
        console.error('Error al enviar mensaje:', err);
      });
  })();
</script>

