---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: "mayo- julio 2023",
        title: "Full-Stack Teaching Assistant-SoyHenry",
        description: 
     [
                "Coordinar y liderar un grupo de estudiantes para lograr la integración al equipo de estudio.",
                "Asistir a la resolución de ejercicios y promover la colaboración grupal (Pair Programming).",
                "Proponer ideas para la mejora de los procesos del bootcamp."
            ]
        
    },
    {
        date: "agosto 2020-diciembre 2021",
        title: "Asesor Control Interno",
        description: 
        [
                    "Asistencia Técnica y Capacitación a la oficina de Control Interno.", "Acompañamiento en el diseño de instrumentos para el desarrollo de la actividad auditora.",
                    "Apoyo profesional en la elaboración de informes de ley.", "Acompañamiento en el seguimiento de la normatividad vigente aplicable a la entidad."
                ]
        
    },
 
];

---

<ol class="relative border-s border-gray-200 ml-4 ">  
    
    {
        EXPERIENCE.map(experiencie =>(
            <li class="mb-10 ms-4">
           <ExperienceItem {...experiencie }/>
            </li>
        ))
    }    
</ol>

